language: generic

sudo: false
dist: trusty

matrix:
  include:
    - os: linux
      env: CXX="g++-7" CC="gcc-7"
      compiler: gcc
      addons:
        apt:
          packages:
            - g++-7
            - cmake
          sources: &sources
            - ubuntu-toolchain-r-test
    - os: linux
      env: CXX="g++-6" CC="gcc-6"
      compiler: gcc
      addons:
        apt:
          packages:
            - g++-6
            - cmake
          sources: *sources
    - os: linux
      env: CXX="g++-8" CC="gcc-8"
      compiler: gcc
      addons:
        apt:
          packages:
            - g++-8
            - cmake
          sources: *sources
    - os: linux
      env: CXX="clang++-4.0" CC="clang-4.0"
      compiler: clang
      addons:
        apt:
          packages:
            - clang-4.0
            - g++-5
            - cmake
          sources:
            - llvm-toolchain-trusty-4.0
            - ubuntu-toolchain-r-test
    - os: linux
      env: CXX="clang++-5.0" CC="clang-5.0"
      compiler: clang
      addons:
        apt:
          packages:
            - clang-5.0
            - g++-5
            - cmake
          sources:
            - llvm-toolchain-trusty-5.0
            - ubuntu-toolchain-r-test
    - os: linux
      env: CXX="clang++-6.0" CC="clang-6.0"
      compiler: clang
      addons:
        apt:
          packages:
            - clang-6.0
            - g++-8
            - cmake
          sources:
            - llvm-toolchain-xenial-6.0
            - ubuntu-toolchain-r-test
    - os: osx
      osx_image: xcode8.3
    - os: osx
      osx_image: xcode9.3
    - os: osx
      osx_image: xcode10
    - os: osx
      osx_image: xcode10.1

cache:
  directories:
    - ${TRAVIS_BUILD_DIR}/deps/otf2-2.1

install:
  - OTF2_VERSION=2.1 # Update cache too when changing this!
  - OTF2_DIR=${TRAVIS_BUILD_DIR}/deps/otf2-${OTF2_VERSION}
  - |
    if [ -z "$(ls -A ${OTF2_DIR})" ]; then
      wget https://www.vi-hps.org/cms/upload/packages/otf2/otf2-${OTF2_VERSION}.tar.gz
      tar -xf otf2-${OTF2_VERSION}.tar.gz
      (cd otf2-${OTF2_VERSION} && ./configure --prefix=${OTF2_DIR} && make -j2 install)
    fi
  - export CMAKE_PREFIX_PATH=${OTF2_DIR}:${CMAKE_PREFIX_PATH}

script:
  - cmake --version
  - mkdir build && cd build
  - cmake ..
  - make -j2
  - ctest -V .
