name: Build and Test

on:
  push:
  pull_request:
  schedule:
    - cron: "0 4 * * *"

env:
  OTF2_VERSION: 2.2

jobs: 
  build-ubuntu:

    runs-on: ubuntu-20.04

    strategy:
      matrix:
        compiler: [g++-9, g++-10, clang++-10, clang++-11, clang++-12]

    steps:
    - uses: actions/checkout@v2
    - name: Cache OTF2
      id: cache-otf2
      uses: actions/cache@v2
      with:
        path: /opt/otf2/
        key: ${{ runner.os }}-otf2
    - name: Install OTF2
      if: steps.cache-otf2.outputs.cache-hit != 'true'
      run: | 
        wget https://www.vi-hps.org/cms/upload/packages/otf2/otf2-${OTF2_VERSION}.tar.gz
        tar -xf otf2-${OTF2_VERSION}.tar.gz
        cd otf2-${OTF2_VERSION}
        ./configure --prefix=/opt/otf2
        make -j2 install
    - name: Run CMake configure
      env:
        CXX: ${{ matrix.compiler }}
      run: cmake .
    - name: Build
      run: make
    - name: Run CTest
      run: ctest .

  build-macos:

    runs-on: macos-latest

    strategy:
      matrix:
        xcode: [10.3, 11.7, default]

    steps:
    - uses: actions/checkout@v2
    - name: Cache OTF2
      id: cache-otf2
      uses: actions/cache@v2
      with:
        path: /opt/otf2/
        key: ${{ runner.os }}-otf2
    - name: Install OTF2
      if: steps.cache-otf2.outputs.cache-hit != 'true'
      run: | 
        wget https://www.vi-hps.org/cms/upload/packages/otf2/otf2-${OTF2_VERSION}.tar.gz
        tar -xf otf2-${OTF2_VERSION}.tar.gz
        cd otf2-${OTF2_VERSION}
        ./configure --prefix=/opt/otf2
        make -j2
        sudo make install
    - name: Select XCode
      run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app/Contents/Developer
      if: matrix.xcode != 'default'
    - name: Run CMake configure
      run: cmake .
    - name: Build
      run: make
    - name: Run CTest
      run: ctest .
